{{#each blogs}}
  <div class="card">
    <div class="card-content">
      <h4>{{title}}</h4>
      <p>{{description}}</p>
      <p>
        <a href="/blogs/{{id}}/edit">Edit</a>
      </p>
      <!-- fetch the id of the blog that needs to be deleted -->
      <form class="" action="/blogs/{{id}}?_method=delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" name="_method">Delete</button>

      </form>

    </div>
  </div>
  {{else}}
    <h1>No blogs Posted</h1>
  {{/each}}
